/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

[data-type="mfdi-view"] .view-content {
  padding-bottom: 0;
  background-color: transparent !important;
}

[data-type="mfdi-view"] [data-type="markdown"] .view-header {
  display: none;
}

[data-type="mfdi-view"] [data-type="markdown"] .cm-content {
  padding-bottom: 0!important;
}

[data-type="mfdi-view"] :is(.markdown-preview-view.is-readable-line-width .markdown-preview-sizer>div, .markdown-source-view.mod-cm6.is-readable-line-width .cm-contentContainer.cm-contentContainer>.cm-content>div, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.embedded-backlinks, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.inline-title, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.metadata-container) {
  max-width: initial !important;
  width: initial !important;
  margin-inline: initial !important;
}

[data-type="mfdi-view"] [data-type="markdown"] .cm-scroller {
  margin: var(--size-4-2) var(--size-4-4) !important;
  padding: 0!important;
}
