/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

:root {
  --mfdi-app-transition-ms: 150ms;
}

.item-enter {
  opacity: 0 !important;
  transform: translateY(-20px);
}

.item-enter-active {
  opacity: 1 !important;
  transform: translateY(0);
  transition: opacity var(--mfdi-app-transition-ms) ease-out, transform var(--mfdi-app-transition-ms) ease-out;
}

.item-exit {
  opacity: 1 !important;
}

.item-exit-active {
  opacity: 0 !important;
  transform: scale(0.95);
  transition: opacity var(--mfdi-app-transition-ms) ease-in, transform var(--mfdi-app-transition-ms) ease-in;
}



[data-type="mfdi-view"] .view-content {
  padding-bottom: 0;
  background-color: transparent !important;
}

[data-type="mfdi-view"] [data-type="markdown"] .view-header {
  display: none;
}

[data-type="mfdi-view"] [data-type="markdown"] .cm-content {
  padding-bottom: 0!important;
}

[data-type="mfdi-view"] :is(.markdown-preview-view.is-readable-line-width .markdown-preview-sizer>div, .markdown-source-view.mod-cm6.is-readable-line-width .cm-contentContainer.cm-contentContainer>.cm-content>div, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.embedded-backlinks, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.inline-title, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.metadata-container) {
  max-width: initial !important;
  width: initial !important;
  margin-inline: initial !important;
}

[data-type="mfdi-view"] [data-type="markdown"] .cm-scroller {
  margin: var(--size-4-2) var(--size-4-4) !important;
  padding: 0!important;
  max-height: 50vh!important;
}

[data-type="mfdi-view"] .list .markdown-rendered {
  user-select: text!important;
}

[data-type="mfdi-view"] .mfdi-date-input,
[data-type="mfdi-view"] input[type='month'],
[data-type="mfdi-view"] input[type='week'] {
  background: var(--background-modifier-form-field);
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  padding: var(--input-padding);
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
  position: relative;
  font-variant-numeric: tabular-nums;
  padding-left: var(--size-4-6);  
}

@media (hover: hover) {
  [data-type="mfdi-view"] .mfdi-date-input:hover,
  [data-type="mfdi-view"] input[type='month']:hover,
  [data-type="mfdi-view"] input[type='week']:hover {
    background-color: var(--background-modifier-form-field-hover);
    border-color: var(--background-modifier-border-hover);
    transition: box-shadow var(--anim-duration-fast) ease-in-out, border var(--anim-duration-fast) ease-in-out;
  }
}

[data-type="mfdi-view"] .mfdi-date-input:focus,
[data-type="mfdi-view"] input[type='month']:focus,
[data-type="mfdi-view"] input[type='week']:focus {
  border-color: var(--background-modifier-border-focus);
}

/* Picker indicators and textsegments styling to match Obsidian */
[data-type="mfdi-view"] .mfdi-date-input::-webkit-calendar-picker-indicator,
[data-type="mfdi-view"] input[type='month']::-webkit-calendar-picker-indicator,
[data-type="mfdi-view"] input[type='week']::-webkit-calendar-picker-indicator {
  position: absolute;
  left: var(--size-4-1);
  right: auto;
  opacity: 0.5;
  cursor: pointer;
}

[data-type="mfdi-view"] .mfdi-date-input::-webkit-datetime-edit-text,
[data-type="mfdi-view"] input[type='month']::-webkit-datetime-edit-text,
[data-type="mfdi-view"] input[type='week']::-webkit-datetime-edit-text {
  color: var(--input-date-separator);
  padding-inline-end: 0;
}
